html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.app__videos {
    position: relative;
    width: 80%;
    max-width: 500px;
    height: 800px;
    overflow: scroll;
    scroll-snap-type: y mandatory;

    /* firefox */
    scrollbar-width: none;
}

/* chrome */
.app__videos::-webkit-scrollbar {
    display: none;
}